<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript lodash Templates Lab</title>
  </head>

  <article>
    <header><h2>Crazy cat owners</h2></header>

    <p>
      All things cats
    </p>

    <article>

      <form onsubmit="createPost();return false;">
        Name: <input type="text" id="commenterName"><br>
        Comment: <input type="textarea" id="commentText"><br>
        <input type="submit">
      </form>

      <div id="comments"></div>

    </article>

    <script src="lodash.min.js"></script>
    <script src="index.js"></script>

    <script id="post-form" type="text/x-lodash-template">
      <div class="comment">
        <div class="comment-body"><%- comment %></div>
        <div class="commenter">
          <p>
            <span class="posted-by">Posted By: </span>
            <% if(commenter !== '') { %>
            <%= commenter %>
            <% } else { %>
            Anonymous
            <% } %>
          </p>
        </div>

    </script>

  </body>


</html>
